body {
    background-color: rgb(19, 19, 19);
    color: white;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
}

p {
    margin: 0
}

a {
    color: aquamarine;
}

.Tool {
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 0;
    gap: 10px;
    align-items: center;
}

.x-axis {
    display: flex;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.y-axis {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}