#leaderboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#leaderboard > * {
    justify-self: center;
    align-self: center;
}

.country_flag {
    aspect-ratio: 16/9;
    width: 50px;
}