#timesheet {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 520px) {
    p {
        font-size: .8em;
    }
}

@media only screen and (max-width: 420px) {
    p {
        font-size: .6em;
    }
}

@media only screen and (max-width: 320px) {
    p {
        font-size: .5em;
    }
}

#timesheet > * {
    justify-self: center;
    align-self: center;
}

.clickable {
    cursor: pointer;
}

.a::after {
    content: "↓";
}

.b::after {
    content: "↑";
}