body {
    margin: 0;
    color: white;
    padding: 0;
}

html,
body,
#map {
    height: 100%;
    width: 100vw;
}

p {
    margin: 0;
}

a {
    color: aquamarine;
}

.x-axis {
    display: flex;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#map {
    cursor: crosshair;
}

.leaflet-control-container {
    display: none;
}

.signature {
    font-size: clamp(.7rem, .5vw, 2rem);
}

.paragraphText {
    font-size: clamp(.7rem, 2vw, 2rem);
}

#overlayUi {
    position: absolute;
    max-height: calc(98% - 8px);
    width: calc(99vw - 8px);
    top: 1%;
    left: .5vw;
    margin: 0;
    z-index: 2147483645;
    background: transparent;
    padding: 4px;
    border-radius: 10px;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
}

#menuScroll {
    display: flex;
    text-align: center;
    flex-direction: row;
    gap: 14px;
    align-items: flex-start;
    overflow-x: scroll;
    max-height: 50px;
    margin-bottom: 7px;
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
}

#menuScroll::-webkit-scrollbar {
    display: none; /* Go fuck yourself chrome */
}

.menuScrollElement {
    padding: 7px;
    min-height: 34px;
    background-color: #000c;
    border: none;
    color: #fff;
    min-width: 140px;
    width: 500px;
    white-space: nowrap;
    cursor: pointer;
    font-size: .9rem;
}


@media (max-width: 1000px) {
    .menuScrollElement {
        padding: 0;
    }
}

.menuScrollElement.selected {
    background-color: #fff;
    color: #000;
    min-width: 140px;
    width: 500px;
    white-space: nowrap;
    padding-top: 2px;
    border-top: solid #2b6eb4 5px;
}

#mainContent {
    max-height: 93svh;
}
#contentPart1,
#contentPart2 {
    max-height: 93svh;
}

/* styleTextPara */

#mainContent.styleTextPara {
    display: grid;
    gap: 7px;
    grid-template-columns: 1fr 3fr;
}

#mainContent.styleTextPara > #contentPart1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: stretch;
    gap: 7px;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
}

#mainContent.styleTextPara > #contentPart1::-webkit-scrollbar {
    display: none; /* Go fuck yourself chrome */
}

#mainContent.styleTextPara > #contentPart1 > .menuScrollElement {
    color: #fff;
    font-size: min(2vw, .9rem);
    width: unset;
    min-width: unset;
}

#mainContent.styleTextPara > #contentPart1 > .menuScrollElement.sel {
    background-color: #fff;
    color: #000;
}

#mainContent.styleTextPara > #contentPart2 {
    padding: 20px;
    background-color: #000c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* styleClassic */

#mainContent.styleClassic {
    display: grid;
    gap: 7px;
    grid-template-columns: 1fr 3fr;
}

#mainContent.styleClassic > #contentPart1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: stretch;
    gap: 7px;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
}

#mainContent.styleClassic > #contentPart1::-webkit-scrollbar {
    display: none; /* Go fuck yourself chrome */
}

#mainContent.styleClassic > #contentPart1 > .menuScrollElement {
    color: #fff;
    font-size: min(2vw, .9rem);
    width: unset;
    min-width: unset;
}

#mainContent.styleClassic > #contentPart1 > .menuScrollElement.sel {
    background-color: #fff;
    color: #000;
}

#mainContent.styleClassic > #contentPart2 {
    display: flex;
    flex-direction: column;
}

#mainContent.styleClassic > #contentPart2 > div {
    padding: 7px;
    min-height: 20px;
    max-height: 20px;
    background-color: #000c;
    border: none;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    font-size: min(2vw, .9rem);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.versionText {
    font-size: .9rem !important;
}

.versionText::before {
    content: "Version ";
}

@media (max-width: 500px) {
    .versionText::before {
        content: "Ver. ";
    }
}

@media (max-width: 370px) {
    .versionText::before {
        content: none;
    }
}

#videoplayer {
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    z-index: 2147483647;
    animation: fadeInFromNone .1s;
    display: none;
    background-color: #0009;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#videoplayer.s {
    display: flex;
    animation: fadeInFromNone .1s;
}

#player {
    aspect-ratio: 16/9;
    max-width: 100%;
    min-width: 50%;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.prevImage {
    aspect-ratio: 16/9;
    width: 100%;
    max-height: 95%;
    object-fit: scale-down;
}

.weaponLocker {
    background-image: url("gtavIcons/weaponLocker.svg");
}

.kosatka {
    background-image: url("gtavIcons/kosatka.svg");
}

.kosatka.red {
    background-image: url("gtavIcons/kosatkaRed.svg");
}

.objective.a {
    background-image: url("gtavIcons/objectiveA.svg");
}

.objective.b {
    background-image: url("gtavIcons/objectiveB.svg");
}

.objective.c {
    background-image: url("gtavIcons/objectiveC.svg");
}

.objective.a.yellow {
    background-image: url("gtavIcons/objectiveAyellow.svg");
}

.objective.b.yellow {
    background-image: url("gtavIcons/objectiveByellow.svg");
}

.objective.c.yellow {
    background-image: url("gtavIcons/objectiveCyellow.svg");
}

.garage {
    background-image: url("gtavIcons/garage.svg");
}

.garage.yellow {
    background-image: url("gtavIcons/garageYellow.svg");
}

.laptop.green {
    background-image: url("gtavIcons/greenLaptop.svg");
}

.terrorbyte.blue {
    background-image: url("gtavIcons/blueTerrorbyte.svg");
}

.boat {
    background-image: url("gtavIcons/boat.svg");
}

.semitruck {
    background-image: url("gtavIcons/semitruck.svg");
}

.plane {
    background-image: url("gtavIcons/plane.svg");
}

.figurine {
    background-image: url("gtavIcons/figurine.svg");
}

.movieprop {
    background-image: url("gtavIcons/movieProp.svg");
}

.truck {
    background-image: url("gtavIcons/truck.svg");
}

.lamardavis {
    background-image: url("gtavIcons/lamarDavis.svg");
}

.playingcard {
    background-image: url("gtavIcons/playingCard.svg");
}

.signaljammer {
    background-image: url("gtavIcons/signalJammer.svg");
}

.truck.movieprop.pony {
    background-image: url("gtavIcons/moviePropTruckPony.svg");
}

.truck.movieprop.rumpo {
    background-image: url("gtavIcons/moviePropTruckRumpo.svg");
}

.truck.movieprop.rebel {
    background-image: url("gtavIcons/moviePropTruckRebel.svg");
}

.collectible.completed::after {
    content: url("websiteIcons/verified.svg");
    height: 11px;
    aspect-ratio: 1/1;
    display: inline-block;
    opacity: .8;
}
