body {
    margin: 0;
    color: white;
    padding: 0;
}

html,
body,
#map {
    height: 100%;
    width: 100vw;
}

p {
    margin: 0;
}

a {
    color: aquamarine;
}

.x-axis {
    display: flex;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#map {
    cursor: crosshair;
}

#videoplayer {
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    z-index: 2147483647;
    animation: fadeInFromNone 0.1s;
    display: none;
    background-color: rgb(19, 19, 19, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#videoplayer.s {
    display: flex;
    animation: fadeInFromNone 0.1s;
}

#player {
    aspect-ratio: 16/9;
    max-width: 100%;
    min-width: 50%;
}

#popupgui {
    position: absolute;
    height: calc(98% - 8px);
    width: calc(99vw - 8px);
    top: 1%;
    left: 0.5vw;
    margin: 0;
    z-index: 2147483645;
    display: none;
    opacity: 0;
    background: rgb(19, 19, 19, 0.95);
    padding: 4px;
    border-radius: 10px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

#popupgui.s {
    animation: fadeInFromNone 0.1s;
    opacity: 1;
    display: block;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

#gui_toggle_button_div {
    position: absolute;
    height: 24px;
    width: auto;
    max-width: 24px;
    bottom: 1%;
    left: 0.5vw;
    z-index: 2147483646;
    background: rgb(19, 19, 19, 0.99);
    padding: 4px;
    border-radius: 10px;
    display: flex;
    gap: 7px;
    transition: all 0.2s linear;
    overflow-x: hidden;
    cursor: pointer;
}

#gui_toggle_button_div:hover {
    transition: all 0.2s linear;
    max-width: 100px;
}

#gui_toggle_button {
    transform: rotate(180deg);
    transition: 0.1s all linear;
}

#gui_toggle_button.s {
    transform: rotate(0deg);
    transition: 0.1s all linear;
}

hr {
    border-top: 3px solid #bbb;
    border-radius: 10px;
    width: 75%;
}

hr.fifty {
    width: 50%;
}

hr.twentyfive {
    width: 25%;
}

div.custom-ol {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.custom-ol > ol {
    list-style-position: inside;
    padding: 0;
}

div.custom-ol > ol li {
    text-align: left;
}

.prevImage {
    aspect-ratio: 16/9;
    width: 50%;
}

ul {
    list-style-type: disc;
}

.hl {
    background-color: rgb(218, 90, 5);
}

.sig {
    font-size: small;
}

#mapStyleRadioButtons {
    display: flex;
    flex-direction: column;
}

.kosatka {
    background-image: url("gtavIcons/kosatka.svg");
}

.plane {
    background-image: url("gtavIcons/plane.svg");
}

.figurine {
    background-image: url("gtavIcons/figurine.svg");
}

.movieprop {
    background-image: url("gtavIcons/movieProp.svg");
}

.truck {
    background-image: url("gtavIcons/truck.svg");
}

.lamardavis {
    background-image: url("gtavIcons/lamarDavis.svg")
}

.playingcard {
    background-image: url("gtavIcons/playingCard.svg");
}

.signaljammer {
    background-image: url("gtavIcons/signalJammer.svg");
}

.truck.movieprop.pony {
    background-image: url("gtavIcons/moviePropTruckPony.svg");
}

.truck.movieprop.rumpo {
    background-image: url("gtavIcons/moviePropTruckRumpo.svg");
}

.truck.movieprop.rebel {
    background-image: url("gtavIcons/moviePropTruckRebel.svg");
}

.collectible.completed::after {
    content: url("websiteIcons/verified.svg");
    height: 11px;
    aspect-ratio: 1/1;
    display: inline-block;
    opacity: 0.8;
}
