body {
    margin: 0;
    color: white;
    padding: 0;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}

p {
    margin: 0;
}

a {
    color: aquamarine;
}

.x-axis {
    display: flex;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#map {
    cursor: crosshair;
}

.leaflet-container {
    background: #384950;
}


/* document.getElementById("videoplayer").classList.toggle("s") */
#videoplayer {
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    z-index: 2147483647;
    animation: fadeInFromNone .1s;
    display: none;
    background-color: rgb(19, 19, 19, .9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#videoplayer.s {
    display: flex;
    animation: fadeInFromNone .1s;
}

#videoplayeriframe {
    aspect-ratio: 16/9;
    max-width: 100%;
    min-width: 50%;
}

#popupgui {
    position: absolute;
    height: calc(98% - 8px);
    width: calc(99vw - 8px);
    top: 1%;
    left: .5vw;
    margin: 0;
    z-index: 2147483645;
    display: none;
    opacity: 0;
    background: rgb(19, 19, 19, .95);
    padding: 4px;
    border-radius: 10px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

#popupgui.s {
    animation: fadeInFromNone .1s;
    opacity: 1;
    display: block;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

#gui_toggle_button_div {
    position: absolute;
    height: 24px;
    width: 24px;
    bottom: 1%;
    left: .5vw;
    z-index: 2147483646;
    background: rgb(19, 19, 19, .99);
    padding: 4px;
    border-radius: 10px;
    transform: rotate(180deg);
    transition: .1s all linear;
}

#gui_toggle_button_div.s {
    transform: rotate(0deg);
    transition: .1s all linear;
}

#gui_toggle_button {
    cursor: pointer;
}

hr {
    border-top: 3px solid #bbb;
    border-radius: 10px;
    width: 75%;
}

hr.fifty {
    width: 50%;
}

hr.twentyfive {
    width: 25%;
}

div.custom-ol {
    display: flex;
    align-items: center;
    flex-direction: column;

}

div.custom-ol > ol {
    list-style-position: inside;
    padding: 0;
}

ul {
    list-style-type: disc;
}